body {
    background :  #000;
    color: white;
    text-align: center;
    font-family: 'VT323', monospace;
    font-size: 2vw;
    margin: 0 auto;
}

h1, h2, h3 {
    font-family: 'VT323', monospace;
}

h1 {
    font-size: 5vw;
    letter-spacing: 1vw;
    margin-bottom: -1vw;
}

li {
    text-align: left;
}

.gridcontainer {
    display: grid;
    grid-template-columns: 10vw 70vw;
    grid-template-rows: 10vh auto auto auto auto;
    grid-gap: 5vw;
}

.directoryContainer {
    display: grid;
    position: fixed;
    margin: 0 auto;
    height: 100vh;
    width: 10vw;
}

.directoryContainer a {
    color: #b82601;
    text-decoration: none;
}

.wikilink a {
    color: #b82601;
    background: white;
    text-decoration: none;
    transition: background .5s, color .5s;
}

.wikilink a:hover {
    background: #b82601;
    color: white;
}

.directoryItem {
    background : white;
    transition: background .5s, color .5s;
}

.directoryItem:hover {
    background: #b82601;
    color: white;
}

#grid1, #grid3 {
    background : #b82601;
}

#top {
    grid-area: 1/2/1/2;
}

#grid1 {
    grid-area: 2/2/2/2;
}

#grid2 {
    grid-area: 3/2/3/2;
}

#grid3 {
    grid-area: 4/2/4/2;
}

#grid4 {
    grid-area: 5/2/5/2;
}
#grid4container {
    display: grid;
    grid-template-columns: 4fr 1fr 1fr 4fr;
    grid-template-areas: 
    "a a b b"
    ". c d .";
}

#grid41 {
    grid-area: a;
}

#grid42 {
    grid-area: b;
}

#grid43 {
    width: 5vw;
    margin: 0 auto;
    grid-area: c;
}

#grid44 {
    margin: 0 auto;
    width: 5vw;
    grid-area: d;
}

#grid4 img {
    background: white;
    transition: background .5s;
}


#grid4 img:hover {
    background: #b82601;
}

.grid3container {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 1vw;
}

.grid1container {
    display: grid;
    grid-template-columns: auto auto;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

.grid11 {
    transform: scaleX(-1);
}